@mixin font-set(
  $font-size,
  $font-weight: normal,
  $line-height: 2,
  $letter-spacing: 1px
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
@mixin hover-link($background) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $background;
  background-size: 50px;
  opacity: 0;
}
