body {
  header.one-page {
    background: url(../img/one-page-banner.jpeg) no-repeat center;
    background-size: cover;
    background-color: #e9e9e9;
    height: 670px;
    .container {
      display: grid;
      grid-template-columns: 7fr 6fr;
      grid-template-rows: 100px 570px;
      .one-page-header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav {
          width: 616px;
          ul {
            li {
              a {
                text-transform: uppercase;
              }
            }
          }
        }
      }

      .one-page-banner {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-content: center;
        justify-content: center;
        div {
          h1 {
            @include font-set(38px, 500, 1.26, 0.4px);
            color: #1d1d1d;
          }
          p {
            margin-top: 32px;
            @include font-set(18px, normal, 1.56, 0.1px);
            font-family: 'Nunito Sans', sans-serif;
            color: #787878;
          }
          button {
            @include font-set(12px, 500, 1, 1.2px);
            height: 55px;
            width: 180px;
            color: #fff;
            text-transform: uppercase;
            background-color: $main-theme-color;
            border-width: 0px;
            margin-top: 39px;
          }
        }
      }
    }
  }

  section.one-page-about {
    article {
      width: 620px;
      height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h2 {
        @include font-set(30px, 500, 1, 0.3px);
        color: #191919;
      }
      p {
        font-family: 'Nunito Sans', sans-serif;
        @include font-set(16px, normal, 1.5, 0.1px);
        color: #787878;
        text-align: center;
        margin-top: 35px;
      }
      #signature {
        width: 223px;
        margin-top: 37px;
      }
    }
  }

  section.one-page-skills {
    background-color: #f8f9f9;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 570px;
    .professional-skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 12%;
      h2 {
        @include font-set(30px, 500, 2.8, 0.3px);
        color: #171717;
      }
      h3 {
        margin-top: 40px;
        text-transform: uppercase;
        @include font-set(12px, 500, 2.5, 1.2px);
        color: #000000;
      }
      @for $i from 0 through 100 {
        .progress progress[value='#{$i}'] {
          & + .progress-value:before {
            content: '#{$i}%';
          }
          & ~ .progress-bg .progress-bar {
            width: $i * 1%;
          }
        }
      }

      .progress {
        margin-top: 20px;
        width: 86%;
        position: relative;
        overflow: hidden;
        progress {
          position: absolute;
          width: 0;
          height: 0;
          overflow: hidden;
          left: -777px;
        }
      }

      .progress-bg {
        background: #d8d8d8;
        position: relative;
        height: 3px;
        border-radius: 5px;
        overflow: hidden;
      }

      .progress-bar {
        overflow: hidden;
        background: $main-theme-color;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
      }
    }
    .skills-poster {
      height: 100%;
      background: url(../img/one-page-skills.jpg) no-repeat center;
      background-size: cover;
    }
  }
}
